<a class="btn btn-info" href="/books">Go Back</a>
<div class="row">
  <div class="col-md-8">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add Book</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-8">
		  <form ng-submit="addBook()">
        <div class="form-group">
          <label>Title:</label>
          <input type="text" class="form-control" ng-model="book.title" placeholder="Title">
        </div>
         <div class="form-group"  ng-init="getGenres()">
          <label>Genre:</label>
          <select class="form-control" ng-model="book.genre">
            <option ng-repeat="genre in genres" value="{{genre.name}}">{{genre.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Author:</label>
          <input type="text" class="form-control" ng-model="book.author" placeholder="Author">
        </div>
        <div class="form-group">
          <label>Publisher:</label>
          <input type="text" class="form-control" ng-model="book.publisher" placeholder="Publisher">
        </div>
        <div class="form-group">
          <label>Pages:</label>
          <input type="text" class="form-control" ng-model="book.pages" placeholder="Pages">
        </div>
         <div class="form-group">
          <label>Image Url:</label>
          <input type="text" class="form-control" ng-model="book.image_url" placeholder="Image Url">
        </div>
         <div class="form-group">
          <label>Buy Link:</label>
          <input type="text" class="form-control" ng-model="book.buy_url" placeholder="Buy Link">
        </div>
        <div class="form-group">
          <label>Description:</label>
          <textarea class="form-control" ng-model="book.description" placeholder="Description"></textarea> 
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      </div>
    </div>
  </div>
  </div>
  </div>
</div>