<a class="btn btn-info" ui-sref="books">Go Back</a>
<div class="row">
  <div class="col-md-8">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add Genre</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-8">
		  <form ng-submit="addGenre()">
        <div class="form-group">
          <label>Genre:</label>
          <input type="text" class="form-control" ng-model="genre.name" placeholder="Genre">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      </div>
    </div>
  </div>
  </div>
  </div>
</div>