<div class="panel panel-default" ng-init="getBooks()">
  <div class="panel-heading">
    <h3 class="panel-title">Latest Books</h3>
  </div>
  <div class="panel-body">
    <div class="row">
    	<div ng-repeat="book in books">
    		<div class="col-md-6">
    			<div class="col-md-6">
    				<h3>{{book.title}}</h3>
    				<p>{{book.description}}</p>
    				<a class="btn btn-primary" ui-sref="books_detail({id : book._id })">View Details</a>
    			</div>
    			<div class="col-md-6 ng-cloak">
    				<img class="thumbnail" src="{{book.image_url}}">
    			</div>
    		</div>
    	</div>
    	
    </div>
  </div>
</div>