<a class="btn btn-info" href="/books">Go Back</a>
<div class="panel panel-default" ng-init="getBook()">
  <div class="panel-heading">
    <h3 class="panel-title">{{book.title}}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
		<div class="col-md-4 ng-cloak">
            <img class="thumbnail" src="{{book.image_url}}">
    </div>
		<div class="col-md-8">
			<p>{{book.description}}</p>
            <ul class="list-group">
                <li class="list-group-item"> Genre: {{book.genre}}</li>
                <li class="list-group-item"> Author: {{book.author}}</li>
                <li class="list-group-item"> Publisher: {{book.publisher}}</li>
                <li class="list-group-item"> Pages: {{book.pages}}</li>
            </ul>
            <a class="btn btn-primary" href="{{book.buy_url}}">Buy On Amazon</a>
            <a class="btn btn-info" href="/books/edit/{{book._id}}">Edit</a>
            <a class="btn btn-danger" href="#" ng-click="removeBook(book._id)">Delete</a>
		</div>
    </div>
  </div>
</div>